$nus-blue:          #003d7c !default;
$nus-orange:        #ef7c00 !default;
$nus-mix:           desaturate(lighten(mix($nus-blue,$nus-orange,30%),40%),100%);
$color-brand:       $nus-blue !default;
$color-system:      $nus-mix !default; 


// code boxes
$color-error:       #bd2c00 !default;
$color-output:      #303030 !default;
$color-source:      #6e5494 !default;

// blockquotes
$color-warning:     lighten($color-error,40%);
$color-callout:     lighten($nus-orange,20%) !default;
$color-challenge:   #32cd32 !default;
$color-checklist:   #dfd2a0 !default;
$color-discussion:  #eec275 !default;
$color-idea:        #ffff00; // $nus-orange !default; 
$color-question:        #eeeeee; // $nus-orange !default; 

$color-keypoints:   $nus-orange !default;
$color-overview:  lighten(desaturate($nus-blue,50%),50%); 
$color-prereq:      $nus-mix !default;
$color-solution:    #ded4b9 !default;
$color-testimonial: #fc8dc1 !default;

