@use "sass:color";
@use "functions/colors" as *;
@forward "functions/colors";

// $base-color: #393e46 !default;
// $text-color: #181c22 !default;
// $accent-color: lighten($base-color,90%) !default;
// $background-color: #fff !default;
// $code-background-color: tint($base-color, 95%) !default;
// $border-color: $base-color !default; // tint($base-color, 80%) !default;
// $overlay-color: $base-color !default;

/* Colors */
$base-color: #393e46 !default;
$text-color: #181c22 !default;
$accent-color: #00838a !default;
$background-color: #ffffff !default;
$code-background-color: tint($base-color, 95%) !default;
$border-color: tint($base-color, 80%) !default;
$overlay-color: $base-color !default;

/* Syntax highlighting (base16) colors */
$base00: #1c2023 !default;
$base01: #393f45 !default;
$base02: #565e65 !default;
$base03: #747c84 !default;
$base04: #adb3ba !default;
$base05: #c7ccd1 !default;
$base06: #dfe2e5 !default;
$base07: #f3f4f5 !default;
$base08: #c7ae95 !default;
$base09: #c7c795 !default;
$base0a: #aec795 !default;
$base0b: #95c7ae !default;
$base0c: #95aec7 !default;
$base0d: #ae95c7 !default;
$base0e: #c795ae !default;
$base0f: #c79595 !default;


// code boxes
$color-error:       #bd2c00 !default;
$color-output:      #303030 !default;
$color-source:      #6e5494 !default;

// blockquotes
$color-warning:     color.adjust($color-error,$lightness: 40%);
$color-callout:     color.adjust($accent-color,$lightness: 20%) !default;
$color-challenge:   #32cd32 !default;
$color-checklist:   #dfd2a0 !default;
$color-discussion:  #eec275 !default;
$color-idea:        #ffff00; // $nus-orange !default; 
$color-question:        #eeeeee; // $nus-orange !default; 

$color-keypoints:   $accent-color !default;
$color-overview:  color.adjust(color.adjust($base-color,$saturation: -50%),$lightness: 50%); 
$color-prereq:      $border-color !default;
$color-solution:    #ded4b9 !default;
$color-testimonial: #fc8dc1 !default;

